<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CityBuilder</title>
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/mapVisitor.css">
</head>
<body>
    <script type="module">
        import {protectPage} from '../script/auth-guard.js';
        protectPage();
    </script>

    <!-- Conteneur pour le panneau de visite de carte -->
    <div id="map-visitor"></div>

    <!-- Galerie de bâtiments -->
    <div id="gallery"></div>

    <!-- Barre de buildings en haut à gauche -->
    <div id="building-bar"></div>

<script src="https://cdn.jsdelivr.net/npm/three@0.165.0/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.165.0/examples/js/controls/OrbitControls.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.165.0/examples/js/loaders/GLTFLoader.js"></script>
<script type="module" src="./../index.js"></script>
</body>
</html>